{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Bucky - Register{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Register</h1>
    </div><!-- end header block-->
    <section class="row">
        <aside class="col-xs-1 col-sm-3">
        </aside>
        <div class="col-xs-10 col-sm-6 gloria-font">
            {{ wtf.quick_form(form) }}
        </div><!-- end form block -->
        <aside class="col-xs-1 col-sm-3"></aside>
    </section>
{% endblock %}
